*{
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Press Start 2P', cursive;
}

body{
  background-image: url(./../../../images/background-day.png);
  background-position: top;
  background-repeat: repeat-x;
  background-color: $colour-grass;
}
